/* Файл стилей для страниц зарегистрированных пользователей
Author: Alexandr Stepanov
Author URL: http://kololobo.ru or http://vk.com/exebeche
 */
/* Customers pages ---------------------------------------------------------- */
body {
	background: #F1F1F1;
}
h2 {
	margin-top: 15px;
	margin-bottom: 0;
}
.c-navigation {
	float: right;
	display: inline-block;
}
.c-nav-text, .c-nav-img {
	display: inline-block;
	float: left;
}
.c-nav-text {
	text-align: right;
}
.c-nav-text p {
	margin: 0;
}
.c-nav-text a {
	color: #c8af72;
}
.c-nav-text a:hover {
	color: #fff;
}
.c-nav-img {
	width: 40px;
	height: 40px;
	margin: 0 20px 0 10px;
	background: #fff;
}
/* Top Background */
.c-bg {
	height: 265px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100%;
	background-color: #ccc;
	position: relative;
}
.c-bg.visitor, .c-bg.classic {
	background-image: url(/img/classic.jpg);
}
.c-bg-btn {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: #C8AF72;
	padding: 5px;
	font-size: 75%;
	color: #fff;
}
/* Top Background End */
/* Visitor */
.vis-nav {
	background: #C8AF72;
	height: 40px;
	text-align: center;
	width: 100%;
}
.vis-nav div {
	display: inline-block;
	line-height: 40px;
	width: 30%;
}
.vis-nav .ch {
	background: #a58e55;
}
.vis-nav a {
	color: #ffeec5;
	display: inline-block;
	width: 100%;
}
.vis-nav a:hover {
	color: #fff;
}
/* Visitor End */
/* Page Content -----------------------------------------*/
.content {
	position: relative;
}
.person-wrapper {
	height: calc(100% - 85px - 40px - 93px);
	min-height: calc(100% - 85px - 40px - 93px);
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	display: inline-block;
	width: 97%;
}
.j-main {
	display: inline-block;
	text-align: left;
	float: left;
	width: 73%;
}
.nav-bar, .j-t-head {
	width: 100%;
	background: #C8AF72;
	display: inline-block;
}
.nav2, .nav-fe, .nav-me {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
.nav2 li {
	float: left;
	padding: 10px 35px;
}
.nav2 a {
	color: #FFFFFF;
}
.nav2 li.active {
	background: #cecece;
}
.active a {
	color: #C8AF72;
}
.j-section {
	display: inline-block;
	width: 100%;
	background: #cecece;
}
.nav-fe, .nav-me {
	margin-left: 20px;
}
.nav-fe li, .nav-me li {
	float: left;
	margin: 10px;
}
.nav-fe a, .nav-me a {
	color: #000;
}
/* Left */
.c-left-col, .s-left-col {
	width: 33%;
	float: left;
	position: relative;
	box-sizing: border-box;
}
.vis-info {
	margin-top: -60%;
}
.name.id, .p-r-nr, .acc-type, .acc-id {
	color: #fff;
}
.p-r-nr p, .acc-info p, .acc-type span, .acc-info-icons {
	display: inline-block;
}
.acc-type span {
	font-size: 65%;
	padding: 5px;
	border: 1px solid #C8AF72;
}
.acc-info-icons {
	float: right;
}
.acc-ph {
	position: relative;
}
.acc-ph img {
	width: 100%;
	max-width: 100%;
	border: 3px solid #fff;
}
.acc-ph-edit, .acc-ph-remove {
	position: absolute;
	margin: 10px;
	display: none;
	top: 0;
	left: 0;
	font-size: 75%;
}
.acc-ph-edit a {
	margin: 5px;
	padding: 5px;
	background: #C8AF72;
	color: #fff;
}
.acc-ph:hover .acc-ph-edit, .acc-ph:hover .acc-ph-remove {
	display: block;
}
.acc-info {
	font-size: 80%;
}
.acc-info h2 {
	margin-bottom: 0;
	text-transform: uppercase;
}
.acc-gen-info, .acc-phys-det, .acc-prof-det {
	position: relative;
}
.hr {
	background: #C8AF72;
	height: 3px;
	width: 70px;
	display: block;
	margin-bottom: 20px;
}
.d-wrap {
	width: 100%;
	display: inline-block;
}
.details-item, .details-data {
	width: 50%;
	float: left;
	box-sizing: border-box;
	display: inline-block;
	margin: 5px auto;
}
.details-data {
	color: #C8AF72;
	text-align: right;
}
.details-edit, .m-j-add {
	border: 2px solid #C8AF72;
	color:  #C8AF72;
	display: inline-block;
	width: auto;
	text-transform: lowercase;
	padding: 2px 20px;
	position: absolute;
	right: 10px;
	top: 0;
	cursor: pointer;
}
/* Subphoto btn */
.block-btn {
	width: 100%;
	display: block;
	position: relative;
}
.btn-item {
	margin: 5px auto;
	text-align: center;
}
.btn-item a {
	display: inline-block;
	width: 100%;
	padding: 5px;
	background: #C8AF72;
	color: #fff;
}
.btn-subitem {
	display: none;
	text-align: center;
}
.btn-subitem a {
	display: inline-block;
	width: 100%;
	padding: 5px;
	margin: 5px auto;
	background: #C8AF72;
	color: #fff;
}
.btn-item:hover .btn-subitem {
	display: inline-block;
}
.nav-s-item {
	cursor: pointer;
}
/* Subphoto btn End */
.metrika p {
	display: inline-block;
}
/* Left End */
.c-left-col, .c-main {
	display: inline-block;
	text-align: left;
	height: 100%;
}
/* Right */
.j-sidebar {
	display: inline-block;
	float: right;
	width: 23%;
	min-width: 200px;
	/*margin: 0 16px 0 16px;*/
	padding-top: 72px;
}
.j-t-head {
	color: #fff;
	padding: 10px;
	text-align: left;
}
.j-port-cont, .j-phot-cont {
	width: 90%;
	margin: 15px auto;
}
.c-main, .s-main {
	width: 66%;
	float: left;
	padding: 20px;
	position: relative;
	box-sizing: border-box;
}
.c-main {
	width: 100%;
}
/*.c-m-widgets {
	display: inline-block;
}*/
.c-m-calendar, .c-m-nav, .c-m-jobs, .c-m-news, .m-jobs {
	width: 66%;
	float: left;
	padding-left: 20px;
	min-width: 660px;
}
/*.c-m-jobs, .c-m-news, .m-jobs {
	float: left;
	width: 66%;
}*/
/* Top Main Nav */
.tmn, .tmn ul, .tmn li {
	margin: 0;
	padding: 0;
}
.tmn, .tmn ul {
	background: #C8AF72;
}
.tmn { /* подменю перемещается относительно меню */
	position: relative;
	display: table;
	width: 100%;
}
.tmn ul { /* подменю находится вне потока */
	position: absolute;
	z-index: 5;
	display: none;
	width: 27%;
}
.tmn li:hover ul { /* подменю будет показано, если курсор наведён на пункт меню с выпадающеим списком */
	display: block;
}
.tmn li {
	display: table-cell;
	text-align: center;
}
.tmn ul li {
	display: block;
	text-align: left;
}
.tmn a {
	display: block;
	padding: 3px 0;
	color: #fff;
	text-decoration: none;
}
.tmn ul a {
	padding: 5px 15px;
}
.tmn li:hover {
	background: #A58E55;
}
/* Top Main Nav End */

/* References */
.ref {
	display: inline-block;
	width: 100%;
}
.ref-add {
	float: right;
	width: auto;
}
.ref.positive, .ref.negative {
	margin-top: 20px;
}
.ref-item {
	border: 1px solid #C8AF72;
	display: inline-block;
	text-align: left;
	padding: 10px;
	height: 120px;
	margin: 5px;
	position: relative;
	float: left;
	width: 47%;
}
.ref-item img {
	border: 1px solid #C8AF72;
	display: block;
	height: 120px;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 120px;
	float: left;
}
/* Referencec End */

/* Jobs */
.m-jobs {
	position: relative;
	/*display: inline-block;*/
	text-align: center;
}
.m-jobs h2 {
	text-align: left;
}
.m-j-albums {
	width: 120px;
	height: 120px;
	margin: 10px 10px 25px 10px;
	cursor: pointer;
	display: inline-block;
	background: #dedede;
	position: relative;
	text-align: center;
}
.m-j-albums:before {
	font-size: 100px;
	color: #cecece;
	display: inline-block;
	padding-top: 13px;
}
.caption {
	font-size: 60%;
	position: absolute;
	bottom: -15px;
}
.m-j-albums:hover .caption {
	color: #C8AF72;
}
/* Jobs End */
/* Right End */
/* Page Content End ------------------------------------*/
/* Customers pages end ------------------------------------------------------ */

/* Settings */
.content {
	text-align: center;
	display: inline-block;
	width: 100%;
}
.set-wrapper {
	/*height: 100%;*/
	/*min-height: 100%;*/
	width: 96%;
	padding: 0 15px;
	position: relative;
	display: inline-block;
}
.set-wrapper h2 {
	text-align: left;
}
.set-back {
	display: inline-block;
	float: right;
	background: #191A1B;
	padding: 5px;
	color: #fff;
}
.set-back:hover {
	color: #191A1B;
	background: #C8AF72;
}
.nav-settings {
	background: #cecece;
	padding: 5px;
	text-align: left;
	display: inline-block;
	position: relative;
	width: 100%;
}
.nav-s-item {
	margin: auto 15px;
	color: #000;
	display: inline-block;
}
.nav-s-item.active {
	color: #C8AF72;
}
.gen, .phys, .prof, .pass, .type {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}
.phys, .prof, .pass, .type {
	/* display: none; */
}
.gen h2, .phys h2, .prof h2, .pass h2, .type h2 {
	margin: 0;
}
.details-item, .details-data {
	text-align: left;
}
.details-item {
	width: 30%;
}
.details-data {
	/*margin-left: 50px;*/
}
.pass {
	width: 30%;
	min-width: 220px;
}
.pass h2 {
	text-align: center;
}
.pass-item {
	display: inline;
	margin: 5px auto;
	width: 100%;
	padding: 5px;
}
.pass-btn {
	width: 40%;
	background: #C8AF72;
	border: none;
	cursor: pointer;
	padding: 5px;
	margin: 5px;
	color: #fff;
}
.pass-btn:hover {
	background: #191A1B;
}
.form_password {
	display: inline-block;
}
.form_password .row {
	margin: 10px auto;
}
.form_password .row:before {
	vertical-align: bottom;
}
.textLeft, .textRight {
	width: 50%;
	display: inline-block;
	float: left;
	text-align: left;
}
.textRight input {
	border-radius: 0;
	width: 100%;
}
/* Settings End*/

/* Calendar */
.cal-wrap {
	cursor: default;
	width: 600px;
	height: 270px;
	margin: 10px auto;
}
.c-c {
	float: left;
	width: 50%;
	height: inherit;
	border: 1px solid #c8af72;
	background: #fff;
}
.cal-p, .cal-title, .cal-n {
	font-weight: bold;
	float: left;
	color: #191a1b;
	font-family: "PfDinTextCompProRegular","Roboto",sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}
.cal-p {
	width: 12.5%;
	height: 12%;
	padding: 2% 2% 0 2%;
	cursor: pointer;
}
.cal-title {
	width: 75%;
	height: 12%;
}
.cal-n {
	width: 12.5%;
	height: 12%;
	padding: 2% 2% 0 2%;
	cursor: pointer;
}
.c-w-d {
	width: 14.28%;
	height: 10.38%;
	background-color: #fff;
	color: #191A1B;
	float: left;
	text-align: center;
	font-weight: bold;
}
.c-d-d {
	width: 14.28%;
	height: 13%;
	float: left;
	text-align: center;
	color: #191a1b;
	cursor: pointer;
}
.prew-next-m {
	width: 14.28%;
	height: 13%;
	float: left;
	text-align: center;
	color: #929292;
}
.c-e {
	/*margin-left: 1px;*/
	height: inherit;
	width: 50%;
	float: left;
	background: #fff;
	/*box-shadow: 2px 2px 5px #888888;*/
	border: 1px solid #c8af72;
}
.c-e-t {
	display: inline-block;
	text-align: center;
	width: 100%;
}
.c-e-1, .c-e-2, .c-e-3 {
	display: inline-block;
	width: 33%;
	float: left;
}
.c-e-b {
	padding-left: 5px;
}
.cal-modal {
	position: fixed;
	top: 20%;
	width: 50%;
	background: #fff;
	border: 1px solid #c8af72;
	text-align: center;
	padding: 10px;
	z-index: 99;
}
.c-m-close {
	position: absolute;
	top: 20px;
	right: 20px;
	border: 1px solid;
	padding: 5px 10px;
	border-radius: 50%;
	cursor: pointer;
}
.c-m-form input, .c-m-form select {
	padding: 5px;
	margin: 5px;
	border: 1px solid gainsboro;
	width: 45%;
}
.c-m-form h3 {
	text-align: left;
}
.c-m-form p {
	width: 45%;
	text-align: left;
	display: inline-block;
}
/* Calendar End*/

/* Latest News */
.ln-nav {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}
.ln-nav ul {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style: none;
	background: #cecece;
}
.ln-nav li {
	display: inline-block;
	margin: 5px;
}
.ln-nav a {
	color: #000;
}
.ln-item {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.ln-icon1 {
	float: left;
}
.ln-icon1, .ln-icon2 {
	display: block;
	width: 20%;
	min-width: 100px;
	min-height: 100px;
}
.ln-icon1 a, .ln-icon2 a {
	display: inline-block;
}
.ln-desc {
	display: inline-block;
	line-height: 100px;
}
.ln-icon2 {
	float: right;
}
/* Latest News End

/* Featured jobs */
.fj-wrap, .fj-i-wrap {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
}
.fj-i-wrap {
	border: 1px solid #c8af72;
	width: 33%;
	min-width: 220px;
	vertical-align: top;
	font-size: 100%;
	text-align: left;
}
.fj-i-wrap a {
	border-bottom: 1px solid #c8af72;
	display: inline-block;
	margin-bottom: 5px;
	width: 100%;
	text-align: center;
}
.fj-i-wrap h3, .fj-i-wrap p {
	margin: 0;
	display: inline-block;
	margin-left: 10px;
}
.fj-i-wrap h3 {
	font-size: 1.2em;
	margin: 5px;
}
.fj-i-date {
	padding-bottom: 3px;
}
/* Featured jobs End */


/* Анкета */
.swich {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
}
.acc-gen, .acc-phys, .acc-prof, .acc-req {
	width: 50%;
	min-width: 600px;
	text-align: left;
	display: inline-block;
}
.acc-gen input, .acc-gen select {
	float: right;
	width: 50%;
	min-width: 300px;
}
.acc-gen input[type="checkbox"], .acc-req input[type="checkbox"], .acc-phys input[type="checkbox"], .acc-prof input[type="checkbox"] {
	width: auto;
	min-width: 10px;
	margin: 3px;
	float: left;
}
.loc, .ge option, .acc-gen input, .guardians option, .acc-phys input, .acc-phys select, .acc-prof input, .acc-prof select {
	padding: 5px;
}
.loc p, .mc-g-h p, .w-a-h p, .mc-h p {
	margin: 0;
}
.acc-phys input, .acc-phys select, .acc-req input, .acc-req textarea, .acc-req select, .acc-prof input, .acc-prof select {
	width: 100%;
	padding: 5px;
}
.ch-m-s input {
	width: auto;
	padding: 0;
}
.loc-ch, .loc-en, .loc-fr, .loc-ge, .loc-it, .loc-usa, .h-col-h, .mc-g-h, .w-a-h, .tat-h, .pier-h, .mc-h {
	padding-left: 20px;
	display: none;
}
.details-data input[type="text"], .details-data input[type="number"], .details-data select, .details-data input[type="phone"], .details-data textarea {
	width: 100%;
	background: transparent;
	border: 1px solid #c8af72;
}
input.r-f-ph {
	margin-bottom: 10px;
}
input.r-f-ph:last-child {
	margin-bottom: 0;
}
.details-data select {
	-webkit-appearance: none;
	background-image: url(/img/down.png);
	background-position: 95% 50%;
	background-repeat: no-repeat;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;
}
.q-check {
	display: inline-block;
	width: 100%;
	margin: 0;
}
.q-rad {
	width: 50%;
	display: inline-block;
	float: left;
}
.details-data input[type="checkbox"] {
	display: none;
}
.q-rad {
	margin: 0;
}
.details-data input[type='number'] {
    -moz-appearance:textfield;
}

.details-data input::-webkit-outer-spin-button,
.details-data input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.details-data label span {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 5px;
	border: 1px solid #c8af72;
}
label.q-check input:checked + span > div {
	background: #c8af72;
	width: 9px;
	height: 9px;
	margin: 1px;
}
label.q-rad input {
	display: none;
}
label.q-rad input+span {
	content: "\a";
	border: 1px solid #c8af72;
	width: 15px;
	height: 15px;
	display: inline-block;
}
label.q-rad input:checked+span > div {
	background: #c8af72;
	width: 11px;
	height: 11px;
	margin: 1px auto;
}
/* Новая Анкета -----------------------------------*/
#w0 {
	display: inline-block;
	min-width: 600px;
	width: 60%;
}
#w0 h2 {
	margin-bottom: 1.5em;
}
.form-group {
	position: relative;
}
.form-group, .field-modelsform-cup, .field-modelsform-has_tatoos, .field-modelsform-has_piercing {
	display: inline-block;
	width: 100%;
}
.field-modelsform-cup {
	margin-bottom: 15px;
}
#w0 label, #w0 input, #w0 textarea, #w0 select, #w0 #general-what_show, #w0 #modelsform-metrical, #w0 #modelsform-has_tatoo, #w0 #modelsform-has_piercing, #w0 #modelsform-model_category, #w0 #modelsform-additional_skills, #w0 #general-languages, #w0 #modelsform-compensation, #w0 #modelsform-main_reason, #w0 .btn-group, #w0 #expertphotographerform-compensation, #w0 #expertstylistform-genre, #w0 #expertstylistform-compensation, #w0 #expertform-specialization, #w0 #expertdesignerform-compensation, #w0 #experthairform-genre, #w0 #experthairform-compensation, #w0 #expertmodelform-has_tatoo, #w0 #expertmodelform-model_category, #w0 #expertmodelform-additional_skills, #w0 #expertmodelform-compensation, #w0 #expertmuaform-genre, #w0 #expertmuaform-compensation, #w0 #expertphotographerform-work_areas, #w0 #expertphotographerform-work_type, #w0 #expertmodelform-has_piercing, #w0 #expertstylistform-work_type, #w0 #expertform-main_reason, #w0 #representativeform-main_reason, #w0 #general-locations, #w0 #designerform-work_type, #w0 #designerform-compensation, #w0 #designerform-main_reason {
	border-radius: 0;
	float: left;
	margin: 0;
	text-align: left;
	width: 50%;
}
#w0 input, #w0 textarea, #w0 select, #w0 .locBtn {
	border: 1px solid #c8af72;
	box-sizing: border-box;
	padding: 5px;
}
.field-user-full_phone #user-full_phone {
	width: 100%;
}
#w0 #general-what_show label, #w0 #modelsform-metrical label, #w0 #modelsform-has_tatoo label, #w0 #modelsform-has_piercing label, #w0 #modelsform-model_category label, #w0 #modelsform-additional_skills label, #w0 #general-languages label, #w0 #modelsform-compensation label, #w0 #modelsform-main_reason label, #w0 #expertphotographerform-compensation label, #w0 #expertstylistform-genre label, #w0 #expertstylistform-compensation label, #w0 #expertform-specialization label, #w0 #expertdesignerform-compensation label, #w0 #experthairform-genre label, #w0 #experthairform-compensation label, #w0 #expertmodelform-has_tatoo label, #w0 #expertmodelform-model_category label, #w0 #expertmodelform-additional_skills label, #w0 #expertmodelform-compensation label, #w0 #expertmuaform-genre label, #w0 #expertmuaform-compensation label, #w0 #expertphotographerform-work_areas label, #w0 #expertphotographerform-work_type label, #w0 #expertmodelform-has_piercing label, #w0 #expertstylistform-work_type label, #w0 #expertform-main_reason label, #w0 #representativeform-main_reason label, #w0 #general-locations label, #w0 #designerform-work_type label, #w0 #designerform-compensation label, #w0 #designerform-main_reason label {
	width: 100%;
}
#general-what_show input, #modelsform-metrical input, #modelsform-has_tatoo input, #modelsform-has_piercing input, #modelsform-model_category input, #modelsform-additional_skills input, #general-languages input, #modelsform-compensation input, #modelsform-main_reason input, #expertphotographerform-compensation input, #expertstylistform-genre input, #expertstylistform-compensation input, #expertform-specialization input, #expertdesignerform-compensation input, #experthairform-genre input, #experthairform-compensation input, #expertmodelform-has_tatoo input, #expertmodelform-model_category input, #expertmodelform-additional_skills input, #expertmodelform-compensation input, #expertmuaform-genre input, #expertmuaform-compensation input, #expertphotographerform-work_areas input, #expertphotographerform-work_type input, #expertmodelform-has_piercing input, #expertstylistform-work_type input, #expertform-main_reason input, #representativeform-main_reason input, #general-locations input, #designerform-work_type input, #designerform-compensation input, #designerform-main_reason input {
	width: auto;
}
.formSubHead {
	margin-bottom: 15px;
	float: left;
	font-weight: bold;
}
.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
	color: #c8af72;
}
#w0 .form-group input[type="radio"], #w0 .form-group  input[type="checkbox"] {
	margin-right: 7px;
}
#w0 .control-label {
	text-align: right;
	padding-right: 1.5em;
	cursor: help;
}
/* PayPal -----------------------------------------*/
.pay-form {
	width: 50%;
	min-width: 600px;
	text-align: left;
	margin: 0 auto;
}
.pay-sum {
	display: inline-block;
}
.sum-item, .plus {
	float: left;
}
.sum-item {
	width: 29%;
}
.sum-item h3 {
	height: 3em;
}
.plus {
	position: relative;
	top: 3em;
	width: 2em;
}
/* PayPal End -----------------------------------------*/

/* Анкета Конец*/

/* Search */
.search-nav {
	width: 100%;
	display: inline-block;
	text-align: left;
	background: #cecece;
	padding: 5px 0;
	height: 80px;
}
.visitor.search-nav {
	text-align: center;
}
.s-n-wrapper {
	display: inline-block;
	width: 97%;
	padding: 0 15px;
	margin: 0 15px;
	text-align: center;
}
.search-type, .prod-result, .prof-sel {
	display: inline-block;
}
.prod-result p, .prof-sel {
	margin-top: 20px;
}
.search-type {
	float: left;
	padding-left: 15px;
}
.search-type .hr {
	margin-bottom: 0;
}
.visitor .prof-sel {
	float: right;
	padding-right: 15px;
}
.prof-sel {
	display: inline-block;
	z-index: 10;
	border: 1px solid #c8af72;
	color: #000;
	margin-left: 10px;
	background: #fff;
	float: left;
}
.prof-sel ul li ul .parent {
	padding: 10px 15px;
}
.prof-sel ul, .prof-sel ul ul, .prof-sel ul ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.prof-sel ul {
	clear: left;
	position: relative;
	right: 50%;
	float: right;
	text-align: center;
	text-transform: uppercase;
}
.prof-sel ul li {
	border-right: 1px solid #222;
	/*box-shadow: 1px 0 0 #444;
	-moz-box-shadow: 1px 0 0 #444;
	-o-box-shadow: 1px 0 0 #444;
	-ms-box-shadow: 1px 0 0 #444;
	-webkit-box-shadow: 1px 0 0 #444;*/
	position: relative;
	left: 50%;
	float: left;
}
.prof-sel ul li:last-child {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none/
}
.prof-sel ul li a {
	display: block;
	color: #c8af72;
	text-decoration: none;
}
.parent {
	cursor: pointer;
}
.visitor .parent:hover {
	padding-left: 50px;
}
.parent:after {
	border-left: 2px solid #000;
	border-top: 2px solid #000;
	content: "";
	display: inline-block;
	vertical-align: top;
	margin: 7px 0 0 8px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	height: 7px;
	width: 7px;
}
ul li ul .parent:after {
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	content: "";
	display: inline-block;
	vertical-align: top;
	margin: 7px 0 0 8px;
	position: absolute;
	right: 15px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	height: 7px;
	width: 7px;
}
/*
.prof-sel ul > li:hover > a {
	background-color: #c8af72;
	color: #fff;
}*/
.prof-sel > ul > li.parent > a::after {
	border-left: 2px solid #c8af72;
	border-top: 2px solid #c8af72;
	content: "";
	display: inline-block;
	vertical-align: top;
	margin: 7px 0 0 8px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	height: 7px;
	width: 7px;
}
.prof-sel > ul > li.parent:hover > a::after {
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
}
.prof-sel ul li ul {
	background: #c8af72;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	text-transform: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	line-height: 18px;
	top: 39px;
	font-size: 12px;
	margin-top: 20px;
	height: auto;
	min-width: 150px;
	width: 100%;
}
.prof-sel ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	-webkit-transition: margin 0.3s ease 0s;
	-moz-transition: margin 0.3s ease 0s;
	-o-transition: margin 0.3s ease 0s;
	transition: margin 0.3s ease 0s;
	margin: 0;
	z-index: 11;
}
.prof-sel ul li ul li {
	border: none;
	box-shadow: 0 1px 0 #cecece, 0 2px 0 #cecece;
	-moz-box-shadow: 0 1px 0 #cecece, 0 2px 0 #cecece;
	-o-box-shadow: 0 1px 0 #cecece, 0 2px 0 #cecece;
	-webkit-box-shadow: 0 1px 0 #cecece, 0 2px 0 #cecece;
	-ms-box-shadow: 0 1px 0 #cecece, 0 2px 0 #cecece;
	position: relative;
	left: 0;
	float: none;
	height: auto;
	text-align: left !important;
	color: #fff;
}
.visitor .prof-sel ul li ul li ul {
	left: -90%;
}
.prof-sel ul li ul li:last-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.prof-sel ul li ul li a {
	padding: 10px 15px;
	border: none;
	color: #fff;
}
.prof-sel ul li ul li a:hover, .prof-sel ul li ul li:hover {
	color: #cecece;
}
.prof-sel ul li ul li ul {
	top: 0;
	left: 90%;
	margin: 0 0 0 20px;
	_margin: 0;
	/*IE6 only*/
	box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
	-o-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
	-ms-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
	-webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
}
.prof-sel > ul > li ul li.parent > a::after {
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
	content: "";
	display: inline-block;
	vertical-align: top;
	margin: 7px 0px 0px 8px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	height: 5px;
	width: 5px;
	float: right;
}
.prof-sel ul ul li:first-child > a {
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
}
.prof-sel ul li > ul > li:first-child > a:before {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #444;
}
.visitor .prof-sel ul li > ul > li:first-child > a:before {
	right: 0;
}
.prof-sel ul ul ul li:first-child a:before {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #fff;

}
.prof-sel ul ul ul li:first-child a:hover:before {
	border-right-color: #cecece;
	border-bottom-color: transparent;
}
.prof-sel ul ul li:last-child > a {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.prof-sel > ul > li.parent > ul > li:first-child > a::before {
	display: none;
}
.prof-sel > ul > li.parent:hover > a::before {
	visibility: visible;
	-webkit-transition: all .5s ease .2s;
	-moz-transition: all .5s ease .2s;
	-o-transition: all .5s ease .2s;
	transition: all .5s ease .2s;
}
.search-btn {
	display: inline-block;
	float: left;
	margin-left: 5px;
	padding: 7px 15px;
}
.search-btn a {
	background: #c8af72;
	color: #fff;
	margin: 1px 15px;
	padding: 7px 25px;
}
.s-left-col {
	width: 27%;
	min-width: 250px;
	padding: 10px;
	font-size: 80%;
}
.crit-data {
	border: 1px solid #c8af72;
	padding: 10px;
}
.crit-data .details-item {
	width: 50%;
}
.crit-data .details-data {
	margin: 0;
}
.hiding {
	display: inline-block;
	float: right;
}
.sbph {
	text-align: left;
}/*
.modal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
	height: 100%;
}
.modal:target {
	display: block;
	pointer-events: auto;
}
.modal > div {
	width: 65%;
	height: 75%;
	position: relative;
	margin: 7% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }
/* Search End*/

/* Footer */
.footer {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
	background: #e6e6e6;
	padding-top: 10px;
	height: 107px;
}
.footer a {
	display: inline-block;
	color: #c8af72;
	padding: 10px;
}
/* Footer End */



/* Media */
@media screen and (max-width: 1515px) {
	.fj-i-wrap {
		font-size: 90%;
	}
}
@media screen and (max-width: 1366px) {
	.fj-i-wrap {
		font-size: 85%;
	}
}
@media screen and (max-width: 1329px) {
	.fj-i-wrap {
		font-size: 80%;
		width: 31%;
		margin: 1%;
	}
}
@media screen and (max-width: 1324px) {
	.fj-i-wrap {
		width: 48%;
		font-size: 100%;
		margin: 10px auto;
	}
}
@media screen and (max-width: 1090px) {
	.c-left-col {
		padding: 3px;
		border: 1px solid #c8af72;
	}
	.c-m-jobs, .c-m-news {
		padding-left: 10px;
	}
	.c-m-news {
		margin-bottom: 30px;
	}
	.m-jobs {
		width: 100%;
	}
	.fj-i-wrap {
		font-size: 90%;
	}
	.c-bg {
		height: 200px;
	}
	.c-m-nav {
		min-width: 345px;
	}
	.c-m-calendar, .c-m-jobs, .c-m-news {
		min-width: auto;
	}
	.cal-wrap {
		width: 100%;
		display: inline-block;
		text-align: center;
		height: auto;
	}
	.c-c, .c-e {
		display: inline-block;
		height: 270px;
		width: 300px;
		float: none;
		margin: 5px;
	}
}
@media screen and (max-width: 1070px) {
	.vis-info {
		margin-top: -70%;
	}
}
@media screen and (max-width: 1004px) {
	.c-m-calendar, .c-m-nav, .c-m-jobs, .c-m-news {
		width: 63%;
	}
	.c-left-col {
		width: 35%;
	}
}
@media screen and (max-width: 995px) {
	.c-m-news {
		text-align: center;
	}
	.c-m-news h2 {
		text-align: left;
	}
	.ln-item {
		width: 30%;
		margin: 10px auto;
		vertical-align: top;
		border: 1px solid #c8af72;
		height: 405px;
		position: relative;
	}
	.ln-icon1, .ln-icon2 {
		width: 100%;
		display: inline-block;
	}
	.ln-icon2 {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
@media screen and (max-width: 984px) {
	.person-wrapper {
		width: 95%;
	}
	.fj-i-wrap {
		font-size: 80%;
	}
	.j-main {
		width: 70%;
	}
	.nav2 li {
		padding: 10px 25px;
	}
}
@media screen and (max-width: 900px) {
	.vis-info {
		margin-top: -80%;
	}
}
@media screen and (max-width: 850px) {
	.j-main {
		width: 68%;
	}
}
@media screen and (max-width: 875px) {
	.nav2 li {
		padding: 10px;
	}
}
@media screen and (max-width: 830px) {
	.nav-fe li:nth-child(even) {
		margin: 10px 0;
	}
}
@media screen and (max-width: 800px) {
	.person-wrapper {
		margin: 0;
		padding: 0;
	}
	.vis-info {
		margin-top: -90%;
	}
}
@media screen and (max-width: 770px) {
	.j-main {
		width: 65%;
	}
}
@media screen and (max-width: 760px) {
	.search-nav {
		text-align: center;
	}
	.prof-sel, .search-btn {
		float: none;
	}
	.search-btn {
		margin-top: 10px;
	}
}
@media screen and (max-width: 750px) {
	.c-main, .s-main {
		padding: 10px 5px;
	}
}
@media screen and (max-width: 730px) {
	.details-data {
		margin-left: 0;
		text-align: center;
	}
}
@media screen and (max-width: 720px) {
	.fj-i-wrap {
		width: 80%;
	}
}
@media screen and (max-width: 710px) {
	.metrika {
		text-align: center;
	}
	.metrika p:first-child {
		width: 100%;
	}
	.nav-fe {
		font-size: 85%;
	}
}
@media screen and (max-width: 700px) {
	.j-main {
		min-width: auto;
	}
	.j-sidebar {
		width: 25%;
		min-width: 150px;
		margin: 16px auto;
	}
}
@media screen and (max-width: 655px) {
	.c-head {
		padding-bottom: 60px;
	}
	.lang, .c-navigation {
		position: absolute;
		top: 75px;
	}
	.title {
		margin: 0 30%;
		display: inline-block;
	}
	.c-navigation {
		right: 0px;
	}
}
@media screen and (max-width: 630px) {
	.vis-info {
		margin-top: -95%;
	}
	.nav-fe {
		margin-left: 5px;
	}
}
@media screen and (max-width: 600px) {
	.title {
		margin: 0 25%;
	}
	.j-sidebar {
		min-width: 130px;
	}
}
@media screen and (max-width: 590px) {
	.j-main, .j-sidebar {
		width: 100%;
	}
	.nav-fe {
		font-size: 100%;
	}
	.j-sidebar {
		padding: 0;
	}
	.j-t-port, .j-t-phot {
		margin: 0 auto;
		width: 47%;
		display: inline-block;
		vertical-align: top;
	}
}
@media screen and (max-width: 530px) {
	.footer {
		font-size: 80%;
	}
}
@media screen and (max-width: 500px) {
	.title {
		margin: 0 15%;
	}
	.c-nav-img {
		margin: 0 10px;
	}
}
@media screen and (max-width: 440px) {
	body {
		min-width: 320px;
	}
	.person-wrapper {
		font-size: 80%;
	}
	.nav2 li {
		padding: 5px;
	}
}
@media screen and (max-width: 370px) {
	.nav-fe li {
		margin: 10px 5px;
	}
}
/* Media End */
