.form-control {
    background-color: #faffbd;
    border-radius: 0;
    /*height: 40px !important;*/
    text-align: center;
    text-transform: uppercase;
}
.phone-input-mask .form-control {
    border-radius: 0;
    /*height: 40px !important;*/
    text-align: left;
    text-transform: uppercase;

}
.checkbox-unchecked {
    border: 1px solid #faffbd;
}
.input-group-addon {
    background-color: #faffbd;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
}
.icheckbox_futurico {
    background: url(../img/futurico.png) no-repeat;
    border: 1px solid #faffbd;
    padding-right: 16px !important;
    padding-top: 0 !important;
    margin-bottom: 2px;
}
.link-default {
    color: #ebc96f;
}
.link-default:hover {
    color: #faffbd;
    text-decoration: none;
}
.link-default:focus {
    color: #faffbd;
    text-decoration: none;
}
.link-default:active {
    color: #faffbd;
    text-decoration: none;
}
.btn-default {
    background-color: #191b1a;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #DBDBDB;
    color: #ffffff;
}
.btn-default:hover {
    background-color: #000000;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}
.btn-default:focus {
    background-color: #000000;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}
.btn-default:active {
    background-color: #000000;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}
.btn-dropdown-default {
    background-color: #191b1a;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    height: 40px !important;
    text-align: center;
    text-transform: uppercase;
}
.btn-dropdown-default:hover {
    background-color: #191b1a !important;
    border-radius: 0 !important;;
    border: 0 !important;;
    border-top: 1px solid #ffffff !important;;
    border-bottom: 1px solid #ffffff !important;;
    color: #ffffff;
}
.btn-dropdown-default:focus {
    background-color: #191b1a !important;;
    border-radius: 0 !important;;
    border: 0 !important;;
    border-top: 1px solid #ffffff !important;;
    border-bottom: 1px solid #ffffff !important;;
    color: #ffffff !important;;
}
.btn-dropdown-default:active {
    background-color: #191b1a !important;;
    border-radius: 0 !important;;
    border: 0 !important;;
    border-top: 1px solid #ffffff !important;;
    border-bottom: 1px solid #ffffff !important;;
    color: #ffffff !important;;
}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    background-color: #191b1a !important;;
    border-radius: 0 !important;;
    border: 0 !important;;
    border-top: 1px solid #ffffff !important;;
    border-bottom: 1px solid #ffffff !important;;
    color: #ffffff !important;;
}

