.modal-content {
    background-color: #1b1d1c;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #faffbd;
    padding: 5px;
    text-transform: uppercase;
}
.modal-header {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.modal-content .close {
    color: #ffffff;
}
.modal-body {
    padding-top: 0;
}