html,
body {
    height: 100%;
}

/*.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}*/

.wrap > .container {
    padding: 70px 15px 20px;
}

/*.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}*/

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    background: #fff;
    border: 1px solid #c8af72;
    visibility: hidden;
    left: 20%;
    top: 2em;
    margin-top: 5px;
    color: #999;
    position: absolute;
    z-index: 999;
    width: 20em;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(200,175,114,0.44);
    -moz-box-shadow: 2px 2px 2px 2px rgba(200,175,114,0.44);
    box-shadow: 2px 2px 2px 2px rgba(200,175,114,0.44);
}
.hint-block:before {
    content: '';
    border: 4px solid transparent;
    border-bottom: 7px solid #c8af72;
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: -11px;
    width: 0;
}
.control-label:hover ~ .hint-block {
    visibility: visible;
    transition: 1s;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}
